 <% projects.forEach(p => { %>
  <p>
    <%= new Date(p.project_date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>:
    <%= p.title %> (<%= p.organization_name %>)
  </p>
<% }) %>